extends head

block content	
	.s-nav
		.c-left
			.user
				.photo
				.name
				.points Времени
					.time 0:00
					
			.title Ваш список песен
			ul#songlist
			.title С Нами
			ul#userlist
			
		.c-right
			.songs
				.title Очередь воспроизведения
				ul#songs